.card_container {
    height: 400px;
    width: 370px;
    perspective: 800px;

  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 2000ms;
    border: 2px solid #e6e4e4;
    transform-style: preserve-3d;
    border-radius: 10px;

  }
  
  .showback {
    transform: rotateY(180deg) ;
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: #ffffff;
  }
  
  .back {
    transform: rotateY(180deg) ;
  }
  